.editProfile {
	display: flex;

	.left {
		flex: 3;
	}

	.right {
		flex: 9;
		padding: 0px 30px;
		background-color: lightgray;

		.header {
			display: flex;
			align-items: center;
			gap: 10px;
			margin: 20px 0px;
			img {
				width: 30px;
				height: 30px;
			}
			h3 {
				font-size: 24px;
				color: #2080f0;
			}
		}

		.lineBreak {
			height: 1px;
			background-color: #2080f0;
			width: 90%;
			margin: 0;
			border: none;
		}

		.generalInfo {
			display: flex;
			padding: 40px 20px;
			.left {
				flex: 3;
				height: 100%;
			}

			.right {
				flex: 7;
				height: 100%;
				display: flex;
				flex-direction: column;
				gap: 20px;
				color: #2080f0;
				font-size: 18px;
				justify-content: center;

				.infoGroup {
					display: flex;
					align-items: center;
					gap: 10px;
					label {
						flex: 2;
						text-align: right;
						font-weight: 500;
					}

					input {
						flex: 3;
						width: 300px;
						height: 20px;
						padding: 5px 10px;
						font-size: 16px;
						font-weight: 500;
						border-radius: 5px;
						border: none;
					}
					input:focus {
						outline: none;
					}
					span {
						flex: 6;
					}

					select {
						width: 310px;
						height: 30px;
						padding: 5px 10px;
						font-size: 16px;
						font-weight: 500;
						border-radius: 5px;
						border: none;

						option {
							font-weight: 500;
							font-size: 16px;
						}
					}

					select:focus {
						outline: none;
					}
				}
			}
		}

		.description {
			display: flex;
			padding: 40px 20px;
			.left {
				flex: 3;
				height: 100%;
			}
			.right {
				flex: 7;
				display: flex;
				flex-direction: column;
				gap: 20px;

				textarea {
					max-width: 400px;
					max-height: 200px;
					padding: 10px;
					font-size: 16px;
					font-weight: 500;
					border: none;
					border-radius: 5px;
				}

				textarea:focus {
					outline: none;
				}
			}
		}

		.profilePicture {
			display: flex;
			padding: 40px 20px;

			.left {
				flex: 3;
			}

			.right {
				flex: 7;
				display: flex;
				flex-direction: column;
				gap: 20px;
				img {
					border: 1px solid #2080f0;
					width: 250px;
					height: 250px;
					object-fit: cover;
					background-color: lightgray;
				}
				.selectFile {
					width: 250px;
					height: 30px;
					padding: 0px 10px;
					border: none;
					font-weight: 500;
					border-radius: 5px;
					background-color: #2080f0;
					color: snow;
					font-size: 16px;
					cursor: pointer;
				}
			}
		}
	}
}

.title {
	font-size: 24px;
	font-weight: 600;
	color: #2080f0;
}

.buttons {
	display: flex;
	gap: 10px;
	margin-left: 10%;
	.save {
		height: 30px;
		border: none;
		background-color: #2080f0;
		border-radius: 5px;
		color: snow;
		font-weight: 600;
		padding: 0px 10px;
		cursor: pointer;
	}

	.cancel {
		height: 30px;
		border: none;
		background-color: gray;
		border-radius: 5px;
		color: snow;
		font-weight: 600;
		padding: 0px 10px;
		cursor: pointer;
	}
}
