.topbar {
	height: 50px;
	width: 100%;
	background-color: #2080f0;
	display: flex;
	align-items: center;
	position: sticky;
	top: 0;
	z-index: 999;

	.left {
		flex: 3;
		display: flex;
		align-items: center;
		gap: 5px;

		.logoIcon {
			width: 32px;
			height: 32px;
			margin-left: 10px;
		}
		.logoLink {
			text-decoration: none;
		}
		.logo {
			font-size: 28px;
			font-weight: bold;
			color: snow;
			cursor: pointer;
		}
	}

	.center {
		flex: 6;
		width: 100%;
		.searchBar {
			width: 100%;
			height: 40px;
			background-color: white;
			border-radius: 30px;
			display: flex;
			align-items: center;
			position: relative;
			.searchIcon {
				font-style: 20px !important;
				margin-left: 10px;
			}

			.searchInput {
				border: none;
				width: 80%;
				height: 30px;
				margin-left: 20px;
				font-size: 18px;
				font-weight: 500;
			}

			.searchInput:focus {
				outline: none;
			}

			.cancelSearch {
				position: absolute;
				right: 20px;
				font-size: 18px;
				font-weight: 600;
				cursor: pointer;

				&.deactive {
					display: none;
				}
			}
		}
		.searchResults {
			display: flex;
			flex-direction: column;
			position: absolute;
			top: 45px;
			left: 30%;
			background-color: gray;
			width: 30%;
			padding: 10px;
			gap: 10px;
			border-radius: 0px 0px 20px 20px;
			overflow: scroll;
			overflow-x: hidden;
			min-height: 300px;
			.searchItem {
				display: flex;
				align-items: center;
				gap: 20px;
				cursor: pointer;
				padding: 5px 15px;
				border-radius: 10px;
				img {
					width: 40px;
					height: 40px;
					border-radius: 50%;
				}
				span {
					font-size: 18px;
					font-weight: 600;
					color: snow;
				}
			}

			.searchItem:hover {
				background-color: lightgray;
			}

			&.deactive {
				display: none;
			}
		}
	}

	.right {
		flex: 3;
		display: flex;
		align-items: center;
		justify-content: space-around;
		color: white;

		.links {
			display: flex;
			gap: 30px;
			font-size: 20px;
			font-weight: 600;
			cursor: pointer;
		}

		.topbarIcons {
			display: flex;
			gap: 5px;

			.iconItem {
				margin-right: 15px;
				cursor: pointer;
				position: relative;

				.iconBadge {
					width: 15px;
					height: 15px;
					background-color: red;
					border-radius: 50%;
					color: white;
					position: absolute;
					font-size: 14px;
					top: -5px;
					right: -5px;
					display: flex;
					align-items: center;
					justify-content: center;
				}
			}
		}

		img {
			width: 34px;
			height: 34px;
			border-radius: 50%;
			object-fit: cover;
			cursor: pointer;
		}
	}

	.menuBar {
		display: flex;
		flex-direction: column;
		position: absolute;
		top: -150px;
		right: 0;
		border: 1px solid black;
		background-color: #2080f0;
		color: snow;
		font-weight: 500;
		width: 150px;
		text-align: center;
		font-size: 18px;
		z-index: -999;

		.menuItem {
			padding: 5px;
			border: 1px solid white;
			width: 138px;
			cursor: pointer;
		}
		.menuItem:hover {
			background-color: #529ff7;
		}

		&.active {
			top: 50px;
		}
	}
}
