.sidebar {
	flex: 3;
	height: calc(100vh - 50px);
	overflow-y: scroll;
	position: sticky;
	top: 50px;

	.wrapper {
		padding: 20px 40px;

		.list {
			padding: 0;
			margin: 0;
			list-style: none;
			font-size: 20px;

			.item {
				display: flex;
				align-items: center;
				margin-bottom: 20px;

				.icon {
					margin-right: 20px;
					width: 32px;
					height: 32px;
				}
			}
		}

		.sidebarButton {
			width: 200px;
			border: none;
			padding: 10px;
			border-radius: 5px;
			font-weight: 500;
			font-size: 16px;
			cursor: pointer;
		}

		.sidebarHR {
			margin: 20px 0px;
		}

		.friendList {
			padding: 0;
			margin: 0;
			list-style: none;
		}
	}
}

::-webkit-scrollbar {
	width: 5px;
}

::-webkit-scrollbar-track {
    background-color: whitesmoke;
}
::-webkit-scrollbar-thumb {
    background-color: lightgrey;
    border-radius: 20px;
}